<!doctype html><html><head><title>Gothons Of Planet Percal #25</title><style type="text/css">
.auto-style1 {
	text-align: center;
}
</style></head><body style="color: #FFFFFF; background-color: #000000"><div class="auto-style1"><strong><br><br><br><br>{% block content %}
  </strong></div><p class="auto-style1"><strong>Empty Layout</strong></p><div class="auto-style1"><strong>{% endblock %}
</strong></div></body></html>

<!-- all HTML files have been made more beautiful using http://codebeautify.org/htmlviewer -->
